<div class="footer-container">
    <div class="footer-container-content">
        <div class="footer-container-content-address content-item">
            Address: <br>
            123 Street Lane <br>
            Someplace, SomeState 1234
        </div>
        <div class="footer-container-content-socials content-item">
            <i class="fa fa-facebook social-item"></i>
            <i class="fa fa-linkedin social-item"></i>
            <i class="fa fa-instagram social-item"></i>
        </div>
        <div class="footer-container-content-copyright content-item"> <i class="fa fa-copyright"></i> 2024 Carolina Construction All Rights Reserved</div>
    </div>
</div>
