.landing-page-container {
    min-height: 100vh;

    &-heading {
        height: 50vh;
        background: linear-gradient(0deg, rgba(156, 156, 156, 0.5), rgba(156, 156, 156, 0.5)), url("../../images/constructionimage.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;

        &-title {
            font-size: 4em;
            color: black;
            text-shadow: 2px 2px #71c9ff;
        }
    }

    &-services {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;

        &-section {
            display: flex;
            flex-direction: row;
            width: 75vw;
            min-height: 20em;
            margin-top: 3em;
            margin-bottom: 3em;
            padding: 2em;
            box-shadow: .1em .1em rgba($color: #71c9ff, $alpha: .8);

            &-text {
                display: flex;
                flex-direction: column;
                width: 50%;
                margin-left: 1em;
                margin-right: 1em;
                color: black;
                
                &-title {
                    color: black;
                    font-size: 2em;
                    margin-bottom: .2em;
                    padding: .2em;
                    text-decoration: underline;
                }
    
                &-info {
                    color: black;
                    font-size: 1.5em;
                }
            }

            &-residential-image {
                width: 50%;
                background-image: url(../../images/residentialconstruction.jpeg);
                background-size: cover;
                margin: .5em;

            }

            &-commercial-image {
                width: 50%;
                background-image: url(../../images/commercialconstruction.jpeg);
                background-size: cover;
                margin: .5em;
            }

            &-renovation-image {
                width: 50%;
                background-image: url(../../images/renovation.jpeg);
                background-size: cover;
                margin: .5em;
            }
        }
    }

}