.services-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;

    &-header {
        display: flex;
        margin-bottom: 5em;

        &-title {
            font-size: 2em;
            font-weight: 700;
            text-decoration: underline;
            text-shadow: .05em .05em white;
        }
    }

    &-section {
        display: flex;
        flex-direction: row;

        &-item {
            margin: 3em;
            transition: .5s all ease-in-out;

            &-image-1 {
                background: linear-gradient(0deg, rgba(156, 156, 156, 0.7), rgba(156, 156, 156, 0.7)), url(../../images/neighborhood.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                height: 25em;
                width: 20em;
                padding: 1em;
                

            }

            &-image-2 {
                background: linear-gradient(0deg, rgba(156, 156, 156, 0.7), rgba(156, 156, 156, 0.7)), url(../../images/commercial.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                height: 25em;
                width: 20em;
                padding: 1em;

            }

            &-image-3 {
                background: linear-gradient(0deg, rgba(156, 156, 156, 0.7), rgba(156, 156, 156, 0.7)), url(../../images/renovation.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                height: 25em;
                width: 20em;
                padding: 1em;

            }
        }

        &-item:hover {
            scale: 1.1;
            border: solid black .08em;
            transition: .5s all ease-in-out;
            cursor: pointer;
        }
    }
}

.item-button {
    color: white;
    font-size: 2em;
    margin-bottom: 1em;
    background-color: black;
}

.item-image-text{
    color: white;
    font-size: 1.5em;
}