<div class="mission-container">

    <div class="mission-container-header">
        <div class="mission-container-header-title">Mission Statement</div>
        <div class="mission-container-header-subtitle">
            To create the best environment for both employees <br>
            and clients alike.
        </div>
    </div>

    <div class="mission-container-section">
        <div class="mission-container-section-image"></div>
    </div>

    <div class="mission-container-section">

        <div class="mission-container-section-content-1">
            <div class="mission-container-section-content-1-title">We Listen</div>
            <div class="mission-container-section-content-1-text"> 
                Our work could'nt be the best if we didn't listen to our
                clients. Our number 1 priority is to ensure your satisfaction
                thats why we listen to our clients. Direct collaboration with
                all involved parties ensures the job is done correctly and 
                efficiently.
            </div>
        </div>

        <div class="mission-container-section-content-2">
            <div class="mission-container-section-content-2-image-1"></div>
            <div class="mission-container-section-content-2-image-2"></div>
        </div>

        <div class="mission-container-section-content-1">
            <div class="mission-container-section-content-1-title">Diversity</div>
            <div class="mission-container-section-content-1-text"> 
                We are an Equal Oportunity Employer and hire regardless of 
                race, gender, sexual orientation and more. We make sure that
                we create a inclusive environment for both our employees 
                and clients alike. Carolina Construction has taken the pledge 
                with the Associated General Contractors of America to create 
                an inclusive, welcoming environment to advance diverse talent 
                in the construction industry.
            </div>
        </div>

        <hr>

        <div class="mission-container-section-content-1">
            <div class="mission-container-section-content-1-title">Environmental Intiative</div>
            <div class="mission-container-section-content-1-text"> 
                Construction is a major contributor to greenhouse gases, making 
                up around 37% of global emissions. The production and use of materials 
                including cement, aluminum, and even steel have a substantial carbon footprint.
                Carolina Construction is focused on reducing emission by adhering to policies
                such as carbon pricing and using renewable fuel for equipment.
            </div>
        </div>

        <div class="mission-container-section-content-2">
            <div class="mission-container-section-content-2-image-3"></div>
        </div>

    </div>
</div>
