<div class="services-container">

    <div class="services-container-header">
        <div class="services-container-header-title">Offered Services</div>
    </div>

    <div class="services-container-section">

        <div class="services-container-section-item">
            <div class="services-container-section-item-image-1">
                <div class="item-button">Commercial</div>
                <div class="item-image-text">
                    Need to house multiple units? New Building
                    for your business? Want a new sign or other
                    structures? Click here to get started!
                </div>
            </div>
        </div>

        <div class="services-container-section-item">
            <div class="services-container-section-item-image-2">
                <div class="item-button">Residential</div>
                <div class="item-image-text">
                    Need a custom home, or multiple?
                    Look no further, our residential team
                    is here to cater to your needs and get 
                    whatever you need done!
                </div>
            </div>
        </div>

        <div class="services-container-section-item">
            <div class="services-container-section-item-image-3">
                <div class="item-button">Restoration & Renovation</div>
                <div class="item-image-text">
                    Need to updated appearance for your business?
                    Maybe some restoration with better materials?
                    We can help keep you up to regulation standards
                    and keeping everything in prestine condition.
                </div>
            </div>
        </div>

    </div>

</div>