<div class="landing-page-container">
    <div class="landing-page-container-heading">
        <div class="landing-page-container-heading-title">Carolina Construction</div>
    </div>
    <div class="landing-page-container-services">

        <div class="landing-page-container-services-section">
            <div class="landing-page-container-services-section-text">
                <div class="landing-page-container-services-section-text-title">Residential</div>
                <div class="landing-page-container-services-section-text-info">
                    Carolina Construction specializes in multiple types of projects. One that we are most proud of is
                    in residential. We've created various types of custom homes for an extensive list of clients. 
                    We pride ourselves with our excellent refrences of architects will work closely to provide the design
                    of your wildest dreams. We then use our excellent construction teams to build those dreams into reality.
                </div>
            </div>
            <div class="landing-page-container-services-section-residential-image"></div>
        </div>

        <div class="landing-page-container-services-section">
            <div class="landing-page-container-services-section-commercial-image"></div>
            <div class="landing-page-container-services-section-text">
                <div class="landing-page-container-services-section-text-title">Commercial</div>
                <div class="landing-page-container-services-section-text-info">
                    Commercial construction, straight to the point. We make sure to keep all of your needs in mind, making
                    sure everything thing is built in complience with your area. We pride ourselves in using the best material
                    for the job while remaining as cost effective as possible. We have experience building in various areas in 
                    the Carolinas and services are avaible in multiple areas
                </div>
            </div>
        </div>

        <div class="landing-page-container-services-section">
            <div class="landing-page-container-services-section-text">
                <div class="landing-page-container-services-section-text-title">Renovation & Restoration</div>
                <div class="landing-page-container-services-section-text-info">
                    Whether it be commercial or residential we've got you covered. We make sure that we can bring older and aging
                    structures back to their former glory. We are absolutely sure that we will surpass your expectations in a 
                    timely fashion.
                </div>
            </div>
            <div class="landing-page-container-services-section-renovation-image"></div>
        </div>
    </div>
</div>
