<div class="contact-container">

    <div class="contact-container-header">
        <div class="contact-container-header-title">Get in touch with us!</div>
        <div class="contact-container-header-subtitle">Fill out the information below and we will contact you soon!</div>
    </div>

    <form action="contact-form">
        <div class="contact-container-radio">
            <div class="contact-container-radio-title">Select a Service</div>
    
            <label class="services-select">Commercial
                <input type="radio" name="serviceRadio">
                <span class="custom-radio"></span>
            </label>
    
            <label class="services-select">Residential
                <input type="radio" name="serviceRadio">
                <span class="custom-radio"></span>
            </label>
    
            <label class="services-select">Rennovations
                <input type="radio" name="serviceRadio">
                <span class="custom-radio"></span>
            </label>
        </div>
    
        <div class="contact-container-information">

            <div class="form-item">
                <div>
                    <label class="businessName">Business Name (if not Applicable typeN/A)</label>  
                </div>
                <div>
                    <input type="text" id="businessName" name="businessname" placeholder="Business Name..">
                </div>
            </div>
            
            <div class="form-item">
                <div>
                    <label class="customerFirstName">First Name</label>  
                </div>
                <div>
                    <input type="text" id="customerFirstName" name="firstname" placeholder="contact first name..">
                </div>
            </div>
            
            <div class="form-item">
                <div>
                    <label class="customerLastName">Last Name</label>  
                </div>
                <div>
                    <input type="text" id="customerLastName" name="lastname" placeholder="contact last name..">
                </div>
            </div>
            
            <div class="form-item">
                <div>
                    <label class="customerEmail">Email Address</label>  
                </div>
                <div>
                    <input type="email" id="customerEmail" name="email" placeholder="contact email..">
                </div>
            </div>
            
            <div class="form-item">
                <div>
                    <label class="customerPhone">Phone Number</label>  
                </div>
                <div>
                    <input type="number" id="customerPhone" name="firstname" placeholder="phonenumber..">
                </div>
            </div>
            
            <div class="form-item">
                <div>
                    <label class="customer">Brief description of the scope of work</label>  
                </div>
                <div>
                    <input type="text" id="customerFirstName" name="firstname" placeholder="description..">
                </div>
            </div>

            
        </div>
    </form>
    
</div>
